@use '/src/styles/mixins' as mixin;
@use '/src/styles/variables';



.highlight-title {
    display: flex;

    &__gradient-box {
        background: linear-gradient(to bottom, variables.$primary-color 0%, variables.$secondary-color 100%);
        height: 100%;

        @include mixin.vw(5, "width");

        @media (max-width: 320px) {
            display: none;
        }

    }

    &__text {
        white-space: pre-line;
        margin: 0;
        padding: 0;
        text-wrap: wrap;
        margin-left: variables.$span-size;
        @include mixin.vw(56, "font-size");
        line-height: 120%;

        @media (max-width: 320px) {
            margin-left: 0;
            font-size: 20px;
        }

    }


}