@use "/src/mixins" as mixin;

.timeline-control {
    display: flex;
    padding: 0 var(--span-size);
    position: relative;


    @media (max-width: 320px) {
        position: absolute;
        bottom: 0;
        padding: 0;
        width: 100%;
        align-items: center;

    }

    & p {
        margin: 0;
        @include mixin.vw(14, "font-size");
        @include mixin.vw(20, "margin-bottom");

        @media (max-width: 320px) {
            font-size: 14px;
        }


    }

    &__buttons {
        display: flex;
        @include mixin.vw(20, "gap");
    }

    &__pagination {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;

        @media (min-width: 321px) {
            display: none;
        }
    }

}