@use "/src/mixins" as mixin;

.odometer-counter {
    @include mixin.vw(200, "font-size");
    @include mixin.vh(160, "line-height");
    padding: 0;
    margin: 0;
    width: fit-content;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #5D5FEF;


    &--disabled {
        color: #bebebeff;
    }

}