@use '/src/mixins' as mixins;

.main-page {
    height: 100vh;
    padding-left: calc(var(--span-size) * 4);
    padding-right: calc(var(--span-size) * 2);


    box-sizing: border-box;
    position: relative;

    @media (max-width: 320px) {
        padding-left: 20px;
        padding-right: 27px;
    }

    &__widgets-wrapper {
        @include mixins.vh(393, "gap");
        @include mixins.vh(170, "padding-top");
        @include mixins.vh(104, "padding-bottom");
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        box-sizing: border-box !important;

        @media (max-width: 320px) {
            justify-content: start;
            gap: 60px;
            padding-top: 60px;
            padding-bottom: 14px;
        }


        & svg {
            @include mixins.vh(530, "height");
            @include mixins.vw(530, "width");
            @include mixins.vh(215, "top");
            @include mixins.vw(455, "left");
            position: absolute;
            z-index: 10;

            @media (max-width: 320px) {
                & {
                    display: none !important;
                }
            }
        }


    }

    &__content {
        @include mixins.vh(56, "gap");
        display: flex;
        flex-direction: column;
        position: relative;

        @media (max-width: 320px) {
            flex: 1;
        }
    }

}