@use "/src/styles/variables";

.layout {
    height: 100vh;
}

.layout__header {
    height: 64px;
    background-color: variables.$bg-creamy;
}

.layout__content {
    background-color: variables.$bg-creamy;
}